@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');

*{
  font-family: 'Anek Tamil', sans-serif !important;
  cursor:none!important;
  
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
}
.overflow-hidden{
  overflow: hidden;
}

.overflow-scroll{
  overflow-y: scroll;
  overflow-x: hidden;
}

.title-txt{
  color: white;
  font-size: 4rem;
  margin: 0;
}

.middle-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  width: 70%;
  opacity: 1;
  z-index: 10;

}
.Header p{
  margin: 2rem 2rem;
  font-size: 2rem;
  font-weight: bolder;
}
.Header p:nth-last-child(1){
  margin-right: 10rem;
}
#logo{
  position: absolute ;
  left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#logo img{
  width: 2rem;
  height: 2rem;
}
.Header{
  display: flex;
  position: fixed;
  color: white;
  width: 100vw;
  top: 0;

  flex-direction: row;
  justify-content: right;
  z-index: 10000;

}
.App{
  cursor : url("/src/Image/eclair.png"),auto;
  scroll-behavior: smooth;
  display: flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.first-container,.second-container,.third-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(12, 12, 12);

}

.main-me-img{
  width: 25rem;
  height: 45rem;
  border-radius: 1rem;
}

.circles{
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}


.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  animation: animate 25s linear infinite;
  top: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  background: rgba(255, 255, 255, 0.2);
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  background: rgba(249, 212, 0, 0.268);

}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  background: rgba(255, 255, 255, 0.2);
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  background: rgba(249, 212, 0, 0.268);

}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  background: rgba(255, 255, 255, 0.2);
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  background: rgba(249, 212, 0, 0.268);

}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  background: rgba(255, 255, 255, 0.2);
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  background: rgba(249, 212, 0, 0.268);

}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  background: rgba(255, 255, 255, 0.2);
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  background: rgba(249, 212, 0, 0.268);
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

.titleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 30rem;
  overflow: none;
}

.link {
  padding: 0;
  margin-top: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.link {
  --primary-color: white;
  --hovered-color: #ffdf00;
  position: relative;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.link a {
  margin: 0;
  text-decoration: none;
  position: relative;
  font-size: 2.5rem;
  color: var(--primary-color)
}

.link::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.link a::before {
  position: absolute;
/*   box-sizing: border-box; */
  content: "Projets";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.link:hover::after {
  width: 100%;
}

.link:hover a::before {
  width: 100%;
}

.link:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color)
}

.link svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}


.clear {
  clear: both;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: #ffdf00;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
  margin: 0.50rem;
}

.checkBox input[type=checkbox]:checked + div {
  left: -10px;
  top: -10px;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

#buttonContainer{
  position: fixed;
  z-index: 100;
  right: 5rem;
  bottom: 5rem;
  display: flex;
  flex-direction: column;
  height: 10rem;
  padding: 2rem 1rem;

}
#buttonContainer  .content{
margin: 1rem 0rem;
}
.content{
  z-index: 1000;
  padding: 0.25rem;
  border: solid 0.15rem rgba(0, 0, 0, 0);
  border-radius: 1rem;
  
}
.content:hover{
  border: solid 0.15rem white;
  border-radius: 1rem;
}

.transition{
  transition: 300ms ease;
}



.effect-three {
  display: inline-block;
  position: relative;
}
.effect-three:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  margin: -5px 0;
  left: 0;
  background-color: #ffdf00;
  transition: all 0.4s ease-in 0s;
}
.effect-three:hover{
  cursor: pointer;
}
.effect-three:hover:after {
  width: 100%;
}




.slideContainer{
  width: 90vw;
  height: 100vh;
}


.slideContainer img{
  width: 20rem;
}

.each-slide{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  margin-top: 15vh;
}


.social-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:white;
}

.social-container p{
  font-size: 3.5rem;
  margin-top: 5rem;
  width: 23rem;
  margin-left: 7rem;
}

.social-img-div img{
  margin-right: 7rem;
  width: 40rem;
  border-radius: 2rem;
}

.blue-box img{
  box-shadow: 0 0 50px 15px #00bbff

}
.white-box img{
  box-shadow: 0 0 50px 15px white

}
.social-img-div{
  height: 100%;
  margin-bottom: 8rem;
}

.whited{
  color: white;
  font-weight: bold;
}

.blued{
  color: #00bbff;
  font-weight: bold;
}

.logo{
  width: 7rem !important;
  animation: float 3s ease infinite;
}

.logo:hover{
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.25rem;
}

.logoHoverB:hover{
  box-shadow: 0 0 20px 15px #00bbff!important;
}
.logoHoverW:hover{
  box-shadow: 0 0 20px 15px white!important;
}

.social-text-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.second-container{
  justify-content: space-evenly !important;
}

.titreSecondTitle{
  color: #ffdf00;
  font-size: 4rem;
  font-weight: bold;
  margin: -1rem;
}

.second-container-div{
  width: 30%;
}

.second-container-div:first-child{
  margin-bottom: 5rem;
}
.second-container-div:last-child{
  margin-top: 15rem;
}
.second-container-div p:last-child{
  color: white;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: bold;
}

.Projet{
  display: flex;
  width: 100vw;
  height: min-content;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}

.scroll{
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center; 
  position: absolute;
  left: 5rem;
  bottom: 5rem;
  font-size: 2rem;
  animation: float 1.5s ease infinite;
}

.scroll img{
  margin-left: 2rem;
  width: 3rem;
}

.title-container{
  margin-left: 5rem;
  margin-top: 5rem;
}

.projet-img-container{
  position: relative;
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  overflow: none !important;
}

.projet-container{
  background-color: transparent;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
  flex-wrap: wrap;
  z-index: 1000;
}

.projet-container img:hover{
  cursor: pointer;
}



select {
  margin-top: 10rem;
  margin-bottom: 2rem;
  width: 20rem;
  z-index: 10000;
  padding: 1rem;
  margin-left: 10rem;
  font-weight: bold;
  font-size: 1rem;
  border: 0 !important;
  background-color: #333333ab;
  color: white;
  /* needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* SVG background image */
  background-image: url("/src/Image/down-arrow.svg");
    background-size: .6em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}
select::-ms-expand {
    display: none;
}

.hidden-projet-img{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  height: 0%;
  opacity: 0;
  bottom: 0;
  left: 0;

    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
}
.projet-img-container:hover .hidden-projet-img{
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.projet-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.projet-data{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  color:#ffdf00;
  font-weight: bold;
  margin:0 1rem;
  height: 90%;
  text-shadow: 1px 1px 1px black;
}
.projet-data p{
  text-align: justify;
}

.projet-data>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.projet-data>div>a {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #ffdf00;
  color: #ffdf00;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.projet-data>div>a:hover {
  box-shadow: inset 100px 0 0 0 #ffdf00;
  color: white;
}